<div id="menu" class="ui vertical inverted sidebar menu left uncover visible" style="">
	<div class="item">
		<a href="" class="ui logo icon">
			<i class="android icon"></i>
		</a>
		<a href=""><b>adb App</b></a>
	</div>

	<a ui-sref-active="active" ui-sref="app.home" class="item">
		<i class="home icon"></i>  <b>Home</b>
	</a>
	<a ui-sref-active="active" ui-sref="app.device" class="item">
		<i class="block layout icon"></i>  <b>Apps</b>
	</a>
</div>

<div class="main container">
	<div class="ui blue inverted main menu frame-top">
		<div class="container">

			<a href="/collections/grid.html" class="icon item"><i class="left chevron icon"></i></a>
			<a href="/collections/message.html" class="icon item"><i class="right chevron icon"></i></a>
			<a href="/collections/message.html" class="icon item"><i class="refresh icon"></i></a>

			<div class="right menu">

				<a data-content="Play Music" class="popup icon music item">
					<i class="minus icon"></i>
				</a>
				<a href="" data-content="View project on GitHub" class="popup icon github item">
					<i class="expand icon"></i>
				</a>
				<a href="" data-content="View project on GitHub" class="popup icon github item">
					<i class="remove icon"></i>
				</a>

			</div>

		</div>
	</div>
	<div class="body-content" ui-view></div>
</div>
